@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

/*
font-family: font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;
*/

*{
	box-sizing: border-box;
	margin: 0;
	padding:0;
	background-color: black;
}

body{
		padding: 100px;
}

h1{
	color:white;
	font-size: 2rem;
	text-align: center;
	border-bottom: solid;
	font-family: 'Roboto Slab', serif;
	margin: 0 0 50px 0;
	font-style: bold;
		
}
 
h2{
	color:brown;
	text-align: left-side;
	border-bottom: solid;
	border-bottom-color: white;
	font-family:'Roboto Slab', serif;
	margin: 0px 50px;
	font-style: bold;
	background-color: none;
}
	
nav,ul,li,a{
	color:brown;
	font-family:'Roboto Slab', serif;
	font-style: italic;
	font-weight: 400;
	font-size: 16px;
	text-decoration:none;
	margin:10px;
}
	
header{
	display:flex;	
	justify-content:space-between;
	align-items: right-side;
	padding: 30px, 50%;
	
}
 
li{ 	
	color: black;
		
}

footer{
	text-align: center;
	border-top: solid;
	color:white;
	margin: 500px 0 0 0;
}

p{
	color: white;
	margin: 50px 50px;
	background-color: red;
	padding: 50px;
	border-radius: 50px;
	font-family:'Montserrat', sans-serif;
	
}

figcaption{
	color:white;
	margin: 15px;
}

#ThisPage{
	Background-color: white;
	padding: 10px 50px;
	border-radius: 50px;
	
}
	
#ThisPage:hover{
	color:brown;
	background-color: #EED3E6 ;
}

figure{
	display:inline-block;	
	margin: 25px;
}
	
.nav_links{
	list-style: none;	
}
	
.nav_links, li{
	display: inline-block;
	padding: 0px, 10px;
}
	
.nav_links, li, a{
	transition: all 0.3sec ease 0s;
}	
	
.nav_links, li, a:hover{
	color: white;
	border-radius: 50px;
}	

/* Gallery CSS */

div.gallery {
	margin: 50px 50px;
	border: none;
	float: left;
	width: 100px;
	height: 100px;
}

div.gallery:hover {
	border: none;
}

div.gallery img {
	width: 100px;
	height: 100px;
	
}

div.desc {
	color: red;
	margin:10px;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;